.root {
  height: 100%;
  width: 100%;
  position: relative;
  :global {
    .login-bg-img {
      height: 100%;
      width: 100%;
    }
    .form-border {
      position: absolute;
      width: 500px;
      height: 400px;
      background-color: #fff;
      left: 50%;
      top: 50%;
      border-radius: 10px;
      box-shadow: 1px 1px 2px 10px #fff;
      transform: translate(-50%, -50%);
      opacity: 0.8;
      .form-title {
        height: 100px;
        line-height: 100px;
        text-align: center;
        font-size: 25px;
      }
      .form-body {
        margin-right: 40px;
        .btn-right-margin-8 {
          margin-right: 8px;
        }
      }
    }
  }
}
